/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  @apply border border-collapse border-slate-500
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 10px 40px;
  font-family: roboto;
  font-weight: medium;
  box-sizing: border-box;
  position: absolute;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
}

.navbar a:hover {
  color: #008093;
}

.navbar li {
  list-style: none;
  font-size: 32px;
}

.navbar .nav-menu {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding-right: 100px;
  z-index: 25;
}

.navbar .Logo {
  max-width: 160px;
  max-height: 82px;
}

.navbar .hamburger {
  display: none;
  cursor: pointer;
  z-index: 50;
}

.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

@media (max-width: 1000px) {
  .navbar .hamburger {
    display: block;
  }

  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .hamburger.hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar .hamburger.hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar .nav-menu {
    position: fixed;
    left: -200%;
    top: -16px;
    flex-direction: column;
    background-color: #282828;
    width: 100%;
    text-align: center;
  }

  .navbar .nav-item {
    margin: 15px 0;
  }

  .navbar .nav-menu.active {
    left: 0;
    z-index: 25;
  }
}

.home {
  width: 100%;
  height: auto;
  background-color: #448498;
  /* home body */
  /* carousel */
}

.home .stickyBanner {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.home .stickyBanner img {
  width: 100%;
}

.home .support {
  display: flex;
  flex-direction: row;
  padding: 10% 0;
  align-items: center;
  background-image: url("/src/Asset/Rectangle 22.png");
}

.home .support .left-content,
.home .support .right-content {
  width: 50%;
}

.home .support .left-content img,
.home .support .right-content img {
  width: 442px;
  height: 226px;
}

.home .support .left-content .form-group,
.home .support .right-content .form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  font-size: 22px;
  font-family: "roboto";
  margin: 30px;
}

.home .support .left-content .form-group input,
.home .support .right-content .form-group input {
  width: 444px;
  height: 53px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 0 0.3rem;
}

.home .support .left-content .form-group input::-webkit-input-placeholder,
.home .support .right-content .form-group input::-webkit-input-placeholder {
  font-size: 20px;
  color: #C8C8C8;
}

.home .support .left-content .form-group textarea,
.home .support .right-content .form-group textarea {
  width: 444px;
  height: 177px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 0.3rem 0.3rem;
  font-family: "roboto";
  box-sizing: border-box;
}

.home .support .left-content .form-group textarea::-webkit-input-placeholder,
.home .support .right-content .form-group textarea::-webkit-input-placeholder {
  font-size: 20px;
  color: #C8C8C8;
}

.home .support .left-content .form-group button,
.home .support .right-content .form-group button {
  width: 209px;
  height: 49px;
  align-self: center;
  background-color: #448498;
  font-size: 20px;
  color: #FFE7A0;
  border-radius: 5px;
  font-weight: bold;
}

.home .support .right-content {
  width: auto;
}

@media (max-width: 1000px) {
  .home .support {
    flex-direction: column;
  }

  .home .support .left-content img {
    width: 300px;
    height: 100px;
  }
}

.home .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("/src/Asset/Homepage.svg");
  padding-bottom: 10%;
}

.home .header .left-content {
  margin-top: 13%;
  width: 40%;
  color: rgb(255, 255, 255);
}

.home .header .title {
  position: relative;
  text-align: left;
}

.home .header .title h1 {
  font-size: 96px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  line-height: 0.9;
}

.home .header .title span {
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 48px;
  font-family: "Hand of Linda", sans-serif;
  opacity: 0.6;
}

.home .header .title p {
  margin: 20px 0 0;
  font-size: 64px;
  font-family: "roboto", sans-serif;
  font-weight: 100;
}

.home .header .button {
  width: 400px;
  margin-top: 40px;
}

.home .header .button .btn {
  width: 400px;
  height: 80px;
  color: white;
  font-size: 40px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
}

.home .header .button .reserv {
  margin-bottom: 20px;
  background-color: #008093;
  background: #008093 url("/src/Asset/Design_Button.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.home .header .button .details {
  background-color: rgba(0, 0, 0, 0);
  color: #008093;
  border: 1px solid #008093;
}

.home .header .right-content {
  width: 40%;
}

.home .header .right-content img {
  margin-top: 41%;
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.home .body {
  color: #FFE7A0;
  padding: 0 150px;
  font-family: roboto;
}

.home .body .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  padding: 2rem 0;
}

.home .body .card .content {
  width: 50%;
}

.home .body hr {
  border: 3px solid #FFE7A0;
}

.home .body .card>img {
  height: 337px;
  width: 500px;
}

.home .body .card h1 {
  font-size: 20px;
}

.home .body .card p {
  font-size: 14px;
}

.home .body .card a {
  color: #FFE7A0;
  font-weight: bold;
  font-size: 14px;
}

.home .card .content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home .gallery {
  font-family: roboto;
  padding-bottom: 1rem;
  color: #00C4FF;
}

.home .gallery p {
  font-size: 20px;
}

.home .gallery h1 {
  font-size: 40px;
}

.home .my-carousel {
  margin: 3rem 0;
}

.home .carousel-item {
  margin-right: 10%;
  min-width: 200px !important;
}

.home .carousel-item img {
  height: 300px;
}

@media screen and (max-width: 1280px) {
  .home .header {
    flex-direction: column;
    align-items: center;
  }

  .home .header .title {
    text-align: center;
  }

  .home .body .card {
    justify-content: center;
  }

  .home .body .card .content {
    width: 80%;
  }
}

.about-us {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  /* mid-content */
  /* last Container */
  /* footer */
}

.about-us .my-carousel {
  margin: 3rem 0;
}

.about-us .carousel-item {
  margin-right: 10%;
  min-width: 200px !important;
}

.about-us .carousel-item img {
  height: 300px;
}

.about-us * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.about-us a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
}

.about-us a:hover {
  color: #008093;
}

.about-us li {
  list-style: none;
  font-size: 32px;
}

.about-us .navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 40px;
}

.about-us .nav-menu {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding-right: 100px;
}

.about-us .Logo {
  max-width: 160px;
  max-height: 82px;
}

.about-us .hamburger {
  display: none;
  cursor: pointer;
}

.about-us .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.about-us .Head-container {
  background-image: url("/src/Asset/image7.png");
  min-height: 1024px;
}

.about-us section {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 60px;
}

.about-us section img {
  width: 664px;
  height: 340px;
}

.about-us .AboutTalassa {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
  font-size: 23px;
  font-weight: 700;
  padding-top: 60px;
}

.about-us .stickyBanner {
  background-color: #448498;
  position: sticky;
  top: 0;
}

.about-us .stickyBanner img {
  width: 100%;
}

.about-us .mid-container {
  display: flex;
  flex-direction: column;
  background-color: #448498;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  padding: 105px 120px;
  gap: 100px;
}

.about-us .mid-container h2 {
  font-weight: 700;
  font-size: 36px;
}

.about-us .collaboration {
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.about-us .collab {
  display: flex;
  justify-content: center;
  min-width: 365px;
  min-height: 496px;
  align-items: center;
  border: 1px solid #B5B5B5;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px;
}

.about-us .collabLogo1 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
  padding-top: 30px;
}

.about-us .collabLogo2 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
}

.about-us .collabLogo3 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
  padding-top: 30px;
}

.about-us .collab h5 {
  font-weight: 700;
  font-size: 30px;
}

.about-us .collab p {
  font-weight: 700;
  font-size: 16px;
  text-align: justify;
}

.about-us .last-container {
  background-color: #448498;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: whitesmoke;
}

.about-us .gallery {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: auto;
  scroll-snap-type: mandatory;
}

.about-us .gallery img {
  width: 336px;
  height: 350px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.about-us .last-container {
  padding: 100px;
}

.about-us .last-container h2 {
  font-weight: 700;
  font-size: 36px;
}

.about-us .last-container p {
  text-align: justify;
  font-size: 23px;
  font-weight: 700;
  margin: 30px;
}

.about-us footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.about-us .socialMedia img {
  height: 50px;
  width: 50px;
}

.about-us .logo2 {
  height: 134px;
  width: 262px;
}

.about-us .contact {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.about-us .contact div {
  color: #8E3920;
  font-weight: 700;
  font-size: 20px;
}

.about-us .contact div:hover {
  cursor: pointer;
  color: #282828;
}

.about-us .Talassa {
  color: #8E3920;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .about-us .hamburger {
    display: block;
  }

  .about-us .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .about-us .hamburger.hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .about-us .hamburger.hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .about-us .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #282828;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .about-us .nav-item {
    margin: 15px 0;
  }

  .about-us ul .nav-menu.active {
    margin: 0 !important;
  }

  .about-us .nav-menu.active {
    left: 0;
  }

  .about-us .collaboration {
    flex-direction: column;
  }

  .about-us section img {
    width: 500px;
    height: 250px;
  }

  .about-us .contact {
    gap: 10px;
  }

  .about-us .contact div {
    font-size: 15px;
  }
}

.Reservation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/src/Asset/Background reservation 1.png");
  background-size: cover;
  padding: 200px 100px;
  /* reservation 3 */
}

.Reservation * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .Reservation {
    flex-direction: column;
  }
}

.Reservation .left-content {
  display: flex;
  flex-direction: column;
}

.Reservation .left-content .back-btn {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.Reservation .left-content .back-btn .img {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.Reservation .left-content .back-btn span {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 1.5px;
}

.Reservation .left-content .steps {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Reservation .left-content .steps .step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Reservation .left-content .steps .step .circle {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-family: "roboto";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Reservation .left-content .steps .step .desc {
  margin-left: 1rem;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
}

.Reservation .left-content .steps .line {
  height: 50px;
  width: 1px;
  transform: translateX(35px);
}

.Reservation .left-content .steps .active {
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid black;
}

.Reservation .left-content .steps .pending {
  background-color: #ffffff;
  border: 5px solid #eeeeee;
  color: #B5B5B5;
}

.Reservation .left-content .steps .done {
  background-color: #1d2d50;
  border: 5px solid black;
}

@media (max-width: 1200px) {
  .Reservation .left-content .steps {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .Reservation .left-content .steps .step {
    flex-direction: column;
    max-width: 80px;
  }

  .Reservation .left-content .steps .line {
    width: 100px;
    height: 1px;
    transform: translateY(35px);
  }
}

.Reservation form {
  max-width: 700px;
  min-height: 645px;
  background: rgba(235, 235, 235, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.Reservation form .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.Reservation form .input>* {
  background: rgba(235, 235, 235, 0.3);
  width: 45%;
  height: 54px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  margin-bottom: 30px;
}

.Reservation form .input select:nth-of-type(1) {
  background: rgba(235, 235, 235, 0.3);
  width: 100%;
  min-height: 54px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

@media (max-width: 800px) {
  .Reservation form .input>* {
    width: 100%;
  }
}

.Reservation form .notes {
  width: 100%;
  height: 201px;
  background-color: #F6F9FF;
  border-radius: 10px;
  padding: 2%;
  margin: 15px 0;
  overflow: scroll;
}

.Reservation form .notes::-webkit-scrollbar {
  display: none;
}

.Reservation form .notes li {
  font-weight: bold;
  list-style: numeric;
  text-align: justify;
  color: #000000;
  font-size: 12px;
}

.Reservation .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Reservation .checkbox label {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  max-width: 391px;
}

.Reservation .chooseTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reservation .chooseTable button {
  min-width: 250px;
  min-height: 52px;
  border-radius: 10px;
  border: 1px solid;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}

.Reservation .Person {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.Reservation .Person div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 54px;
  min-width: 280px;
  padding: 0 30px;
  border: 1px solid;
}

.Reservation .Person div select {
  width: 200px;
  background: rgba(235, 235, 235, 0);
  border: none;
}

.Reservation .contactUser {
  min-width: 600px;
  min-height: 54px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 0 2%;
  margin: 10px 0;
}

.Reservation .contactUser span {
  height: 24px;
  color: #000000;
  border: solid;
}

.Reservation .contactUser input {
  width: 70%;
  height: 80%;
  background-color: rgba(235, 235, 235, 0);
  border: none;
}

.Reservation .specialRequest {
  margin: 20px 0;
}

.Reservation .specialRequest p {
  font-size: 16px;
  font-weight: 500;
}

.Reservation .specialRequest input {
  min-width: 600px;
  min-height: 200px;
  background-color: rgba(235, 235, 235, 0.3);
  border: none;
  outline: none;
}

.Reservation .right-content .btn {
  margin: 40px auto 0;
  width: 250px;
  height: 52px;
  background-color: #008093;
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
}

.Reservation .right-content .btn img:nth-child(1) {
  transform: rotate(90);
}

.Reservation .right-content .btn button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
  text-align: center;
  border: none;
  outline: none;
}

.Reservation-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/src/Asset/Background reservation 1.png");
  background-size: cover;
  padding: 200px 100px;
  /* reservation 3 */
}

.Reservation-3 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .Reservation-3 {
    flex-direction: column;
  }
}

.Reservation-3 .left-content {
  display: flex;
  flex-direction: column;
}

.Reservation-3 .left-content .back-btn {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.Reservation-3 .left-content .back-btn .img {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.Reservation-3 .left-content .back-btn span {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 1.5px;
}

.Reservation-3 .left-content .steps {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Reservation-3 .left-content .steps .step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Reservation-3 .left-content .steps .step .circle {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-family: "roboto";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Reservation-3 .left-content .steps .step .desc {
  margin-left: 1rem;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
}

.Reservation-3 .left-content .steps .line {
  height: 50px;
  width: 1px;
  transform: translateX(35px);
}

.Reservation-3 .left-content .steps .active {
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid black;
}

.Reservation-3 .left-content .steps .pending {
  background-color: #ffffff;
  border: 5px solid #eeeeee;
  color: #B5B5B5;
}

.Reservation-3 .left-content .steps .done {
  background-color: #1d2d50;
  border: 5px solid black;
}

@media (max-width: 1200px) {
  .Reservation-3 .left-content .steps {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .Reservation-3 .left-content .steps .step {
    flex-direction: column;
    max-width: 80px;
  }

  .Reservation-3 .left-content .steps .line {
    width: 100px;
    height: 1px;
    transform: translateY(35px);
  }
}

.Reservation-3 form {
  max-width: 700px;
  min-height: 645px;
  background: rgba(235, 235, 235, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.Reservation-3 form .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.Reservation-3 form .input .form-group {
  background: rgba(235, 235, 235, 0.3);
  width: 100%;
  height: 54px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 1rem;
}

.Reservation-3 form .input .form-group:nth-of-type(1) {
  width: 45%;
}

.Reservation-3 form .input .form-group:nth-of-type(2) {
  width: 45%;
}

.Reservation-3 form .input .form-group:nth-last-child(1) {
  border: none;
  background: none;
  flex-direction: column;
  justify-content: start;
  height: auto;
  align-items: start;
  padding: 0;
}

.Reservation-3 form .input .form-group:nth-last-child(1) label {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "roboto";
}

.Reservation-3 form .input .form-group:nth-last-child(1) textarea {
  height: 100px;
  background: rgba(235, 235, 235, 0.3);
  width: 100%;
  height: 54px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 1rem;
}

.Reservation-3 form .input .form-group>* {
  margin-right: 1rem;
}

.Reservation-3 form .input .form-group .vr {
  height: 80%;
  width: 1px;
  border: 3px solid black;
}

.Reservation-3 form .input .form-group input,
.Reservation-3 form .input .form-group select {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.Reservation-3 form .notes {
  width: 100%;
  height: 201px;
  background-color: #F6F9FF;
  border-radius: 10px;
  padding: 2%;
  margin: 15px 0;
  overflow: scroll;
}

.Reservation-3 form .notes::-webkit-scrollbar {
  display: none;
}

.Reservation-3 form .notes li {
  font-weight: bold;
  list-style: numeric;
  text-align: justify;
  color: #000000;
  font-size: 12px;
}

.Reservation-3 .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Reservation-3 .checkbox label {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  max-width: 391px;
}

.Reservation-3 .chooseTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reservation-3 .chooseTable button {
  min-width: 250px;
  min-height: 52px;
  border-radius: 10px;
  border: 1px solid;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}

.Reservation-3 .Person {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.Reservation-3 .Person div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 54px;
  min-width: 280px;
  padding: 0 30px;
  border: 1px solid;
}

.Reservation-3 .Person div select {
  width: 200px;
  background: rgba(235, 235, 235, 0);
  border: none;
}

.Reservation-3 .contactUser {
  min-width: 600px;
  min-height: 54px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 0 2%;
  margin: 10px 0;
}

.Reservation-3 .contactUser span {
  height: 24px;
  color: #000000;
  border: solid;
}

.Reservation-3 .contactUser input {
  width: 70%;
  height: 80%;
  background-color: rgba(235, 235, 235, 0);
  border: none;
}

.Reservation-3 .specialRequest {
  margin: 20px 0;
}

.Reservation-3 .specialRequest p {
  font-size: 16px;
  font-weight: 500;
}

.Reservation-3 .specialRequest input {
  min-width: 600px;
  min-height: 200px;
  background-color: rgba(235, 235, 235, 0.3);
  border: none;
  outline: none;
}

.Reservation-3 .right-content .btn {
  margin: 40px auto 0;
  width: 250px;
  height: 52px;
  background-color: #008093;
  display: flex;
  justify-content: space-between;
}

.Reservation-3 .right-content .btn img:nth-child(1) {
  transform: rotate(90);
}

.Reservation-3 .right-content .btn button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
  text-align: center;
  border: none;
  outline: none;
}

.reservation-2 * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "roboto", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

.reservation-2 .home {
  height: 1024px;
  background-size: cover;
}

.reservation-2 .home .container {
  margin: 0 auto;
  padding-top: 170px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .reservation-2 .home .container {
    flex-direction: column;
  }
}

.reservation-2 .left-content {
  display: flex;
  flex-direction: column;
}

.reservation-2 .left-content .back-btn {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.reservation-2 .left-content .back-btn .img {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.reservation-2 .left-content .back-btn span {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 1.5px;
}

.reservation-2 .left-content .steps {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.reservation-2 .left-content .steps .step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reservation-2 .left-content .steps .step .circle {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-family: "roboto";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.reservation-2 .left-content .steps .step .desc {
  margin-left: 1rem;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
}

.reservation-2 .left-content .steps .line {
  height: 50px;
  width: 1px;
  transform: translateX(35px);
}

.reservation-2 .left-content .steps .active {
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid black;
}

.reservation-2 .left-content .steps .pending {
  background-color: #ffffff;
  border: 5px solid #eeeeee;
  color: #B5B5B5;
}

.reservation-2 .left-content .steps .done {
  background-color: #1d2d50;
  border: 5px solid black;
}

@media (max-width: 1200px) {
  .reservation-2 .left-content .steps {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .reservation-2 .left-content .steps .step {
    flex-direction: column;
    max-width: 80px;
  }

  .reservation-2 .left-content .steps .line {
    width: 100px;
    height: 1px;
    transform: translateY(35px);
  }
}

.reservation-2 .home .container .right-content {
  margin-left: 7%;
  padding: 40px 30px;
  max-width: 55%;
  height: 645px;
  background-color: rgba(235, 235, 235, 0.1882352941);
  border-radius: 20px;
  overflow-y: scroll;
}

.reservation-2 .right-content .info {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .info .option {
  display: flex;
  align-items: center;
}

.reservation-2 .right-content .info .option .retangle {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.reservation-2 .right-content .info .not-reserved .retangle {
  background-color: #fcdab7;
}

.reservation-2 .right-content .info .reserved .retangle {
  background-color: #282828;
}

.reservation-2 .right-content .info .selected .retangle {
  background-color: #1e5f74;
}

.reservation-2 .right-content .wrapper {
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .wrapper input {
  appearance: none;
  -webkit-appearance: none;
}

.reservation-2 .right-content .wrapper .room {
  position: relative;
  width: 500px;
  height: 300px;
}

.reservation-2 .right-content .wrapper .room input {
  width: 100%;
  height: 100%;
  background-color: #fcdab7;
}

.reservation-2 .right-content .wrapper .room label {
  position: absolute;
  font-size: 32px;
  font-family: "Roboto";
  font-weight: 700;
}

.reservation-2 .right-content .wrapper .table {
  position: relative;
}

.reservation-2 .right-content .wrapper .table input {
  width: 100%;
  height: 100%;
  background-color: #fcdab7;
}

.reservation-2 .right-content .wrapper .table label {
  position: absolute;
  font-size: 32px;
  font-family: "Roboto";
  font-weight: 700;
}

.reservation-2 .right-content .wrapper .seat {
  position: relative;
  width: 50px;
  height: 50px;
}

.reservation-2 .right-content .wrapper .seat label {
  position: absolute;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}

.reservation-2 .right-content .wrapper .seat input {
  width: 100%;
  height: 100%;
  background-color: #fcdab7;
}

.reservation-2 .right-content .wrapper .room input:checked {
  background-color: #1e5f74;
}

.reservation-2 .right-content .wrapper .room input:disabled {
  background-color: #282828;
}

.reservation-2 .right-content .wrapper .table input:checked {
  background-color: #1e5f74;
}

.reservation-2 .right-content .wrapper .table input:disabled {
  background-color: #282828;
}

.reservation-2 .right-content .wrapper .seat input:checked {
  background-color: #1e5f74;
}

.reservation-2 .right-content .wrapper .seat input:disabled {
  background-color: #282828;
}

.reservation-2 .right-content .table-ABCD {
  margin: 30px auto 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reservation-2 .right-content .table-ABCD .wrapper {
  margin: 10px 0 0;
  width: 300px;
}

.reservation-2 .right-content .table-ABCD .wrapper .table {
  width: 175px;
  height: 120px;
}

.reservation-2 .right-content .table-ABCD .wrapper .table label {
  top: 35%;
  left: 45%;
}

.reservation-2 .right-content .table-ABCD .wrapper .seats {
  width: 60px;
  height: 120px;
  background-color: #ffe7a0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.reservation-2 .right-content .table-ABCD .wrapper .seats .seat input {
  border-radius: 5px;
}

.reservation-2 .right-content .table-ABCD .wrapper .seats .seat label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-ABCD .wrapper .table input {
  border-radius: 8px;
}

.reservation-2 .right-content .standing-table {
  margin: 10px auto 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .standing-table .diagonal-container {
  position: relative;
  width: 100px;
  height: 150px;
}

.reservation-2 .right-content .standing-table .container {
  margin: 0;
  padding: 0;
  width: 615px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.reservation-2 .right-content .standing-table .container .outdoor {
  position: relative;
  width: 515px;
  height: 30px;
  border-bottom: 5px solid black;
}

.reservation-2 .right-content .standing-table .container .outdoor span {
  position: absolute;
  bottom: 15%;
  font-size: 10px;
  font-weight: 500;
}

.reservation-2 .right-content .standing-table .sub-container {
  width: 515px;
  height: 110px;
  display: flex;
}

.reservation-2 .right-content .standing-table .container .sub-container .indoor {
  position: relative;
  width: 117px;
  height: 100%;
}

.reservation-2 .right-content .standing-table .container .sub-container .indoor span {
  position: absolute;
  top: 8%;
  right: 20%;
  font-size: 10px;
  font-weight: 500;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container {
  width: 398px;
  height: 100%;
  flex-direction: column;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .table input {
  width: 100%;
  height: 47px;
  background-color: #ffe7a0;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .table input:checked {
  width: 100%;
  height: 47px;
  background-color: #1e5f74;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .table input:disabled {
  background-color: #282828;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .table label {
  top: 28%;
  left: 22%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 10px;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats .seat {
  width: 50px;
  height: 50px;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats .seat input {
  width: 100%;
  height: 100%;
  background-color: #fcdab7;
  border-radius: 5px;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats .seat input:checked {
  background-color: #1e5f74;
}

.reservation-2 .right-content .standing-table .container .sub-container .standing-table-container .seats .seat input:disabled {
  background-color: #282828;
}

.reservation-2 .right-content .table-EFGHIJKL {
  margin: 40px auto 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reservation-2 .right-content .table-EFGHIJKL .lines {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reservation-2 .right-content .table-EFGHIJKL .lines .line-1,
.reservation-2 .right-content .table-EFGHIJKL .lines .line-2 {
  width: 1px;
  height: 100px;
  background-color: black;
}

.reservation-2 .right-content .table-EFGHIJKL .lines .line-3 {
  width: 1px;
  height: 220px;
  background-color: black;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper {
  margin: 0;
  height: 220px;
  flex-direction: column;
  align-items: center;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .table {
  width: 100px;
  height: 100px;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .table input {
  border-radius: 50%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .table-I label {
  top: 30%;
  left: 45%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .table-J label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .seat input {
  border-radius: 50%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .wrapper .seat label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-IJ .line {
  width: 100px;
  height: 1px;
  background-color: black;
}

.reservation-2 .right-content .table-EFGHKL {
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK,
.reservation-2 .right-content .table-EFGHKL .table-GHL {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .wrapper,
.reservation-2 .right-content .table-EFGHKL .table-GHL .wrapper {
  width: 220px;
  height: 100px;
  align-items: center;
}

.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-E-container .table,
.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-F-container .table,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-G-container .table,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-H-container .table {
  width: 100px;
  height: 100px;
}

.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-E-container .table input,
.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-F-container .table input,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-G-container .table input,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-H-container .table input {
  border-radius: 50%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-E-container .table label,
.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-F-container .table label,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-G-container .table label,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-H-container .table label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-E-container .seat input,
.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-F-container .seat input,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-G-container .seat input,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-H-container .seat input {
  border-radius: 50%;
}

.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-E-container .seat label,
.reservation-2 .right-content .table-EFGHIJKL .table-EFK .table-F-container .seat label,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-G-container .seat label,
.reservation-2 .right-content .table-EFGHIJKL .table-GHL .table-H-container .seat label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .sub-container,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .sub-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container {
  height: 220px;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .table,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .table {
  width: 100px;
  height: 100px;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .table input,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .table input {
  border-radius: 8px;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .table label,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .table label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .seat input,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .seat input {
  border-radius: 5px;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .table-K-container .seat label,
.reservation-2 .right-content .table-EFGHKL .table-GHL .table-L-container .seat label {
  top: 30%;
  left: 40%;
}

.reservation-2 .right-content .table-EFGHKL .table-EFK .line,
.reservation-2 .right-content .table-EFGHKL .table-GHL .line {
  width: 220px;
  height: 1px;
  background-color: black;
}

.reservation-2 .right-content .viproom-container {
  margin-top: 20px;
  height: 605px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.reservation-2 .right-content .viproom-container .room input {
  border-radius: 8px;
}

.reservation-2 .right-content .viproom-container .room label {
  top: 35%;
  left: 33%;
  letter-spacing: 10px;
  text-align: center;
}

.reservation-2 .right-content .btn {
  margin: 40px auto 0;
  width: 250px;
  height: 52px;
  background-color: #008093;
  display: flex;
  justify-content: space-between;
}

.reservation-2 .right-content .btn img:nth-child(1) {
  transform: rotate(90);
}

.reservation-2 .right-content .btn button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
  text-align: center;
}

.footer {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  /* footer */
}

.footer footer {
  background-image: url("/src/Asset/Footer.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.footer .socialMedia img {
  height: 50px;
  width: 50px;
}

.footer .logo2 {
  height: 134px;
  width: 262px;
}

.footer .contact {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.footer .contact div {
  color: #8E3920;
  font-weight: 700;
  font-size: 20px;
}

.footer .contact div:hover {
  cursor: pointer;
  color: #282828;
}

.footer .Talassa {
  color: #8E3920;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.footer .wave {
  background-color: #448498;
}

.footer .wave img {
  width: 100%;
  transform: translateY(5px);
}

@media (max-width: 1000px) {
  .footer .hamburger {
    display: block;
  }

  .footer .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .footer .hamburger.hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .footer .hamburger.hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .footer .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #282828;
    width: 100%;
    text-align: center;
  }

  .footer .nav-item {
    margin: 15px 0;
  }

  .footer .nav-menu.active {
    left: 0;
  }

  .footer .collaboration {
    flex-direction: column;
  }

  .footer section img {
    width: 500px;
    height: 250px;
  }

  .footer .contact {
    gap: 10px;
  }

  .footer .contact div {
    font-size: 15px;
  }
}