@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
}

a:hover {
  color: #008093;
}

li {
  list-style: none;
  font-size: 32px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 40px;
}

.nav-menu {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding-right: 100px;
}

.Logo {
  max-width: 160px;
  max-height: 82px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.Head-container {
  background-image: url("Asset/image7.png");
  min-height: 1024px;
}

section {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 60px;
}

section img {
  width: 664px;
  height: 340px;
}

.AboutTalassa {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
  font-size: 23px;
  font-weight: 700;
  padding-top: 60px;
}

/* mid-content */

.stickyBanner {
  background-color: #448498;
  position: sticky;
  top: 0;
}

.stickyBanner img {
  width: 100%;
}

.mid-container {
  display: flex;
  flex-direction: column;
  background-color: #448498;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  padding: 105px 120px;
  gap: 100px;
}

.mid-container h2 {
  font-weight: 700;
  font-size: 36px;
}

.collaboration {
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.collab {
  display: flex;
  justify-content: center;
  min-width: 365px;
  min-height: 496px;
  align-items: center;
  border: 1px solid #B5B5B5;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px;
}

.collabLogo1 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
  padding-top: 30px;
}

.collabLogo2 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
}

.collabLogo3 {
  width: 305px;
  height: 185px;
  border-radius: 30px;
  padding-top: 30px;
}

.collab h5 {
  font-weight: 700;
  font-size: 30px;
}

.collab p {
  font-weight: 700;
  font-size: 16px;
  text-align: justify;
}

/* last Container */
.last-container {
  background-color: #448498;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: whitesmoke;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: auto;
  scroll-snap-type: mandatory;
}

.gallery img {
  width: 336px;
  height: 350px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.last-container h2 {
  font-weight: 700;
  font-size: 36px;
}

.last-container p {
  text-align: justify;
  font-size: 23px;
  font-weight: 700;
  margin: 30px;
}

.wave {
  background-color: #448498;
}

.wave img {
  width: 100%;
}

/* footer */
footer {
  background-image: url("Asset/Footer.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.socialMedia img {
  height: 50px;
  width: 50px;
}

.logo2 {
  height: 134px;
  width: 262px;
}

.contact {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.contact div {
  color: #8E3920;
  font-weight: 700;
  font-size: 20px;
}

.contact div:hover {
  cursor: pointer;
  color: #282828;
}

.Talassa {
  color: #8E3920;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #282828;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .collaboration {
    flex-direction: column;
  }

  section img {
    width: 500px;
    height: 250px;
  }

  .contact {
    gap: 10px;

  }

  .contact div {
    font-size: 15px;
  }
}